// Base Colors
$white: #ffffff;
$backGroundColor: #f8f8f8;
$lightGreen:#c9e79e;
$underLineColor: #cac9c1;
$darkGreen: #7ebe02;
$tabletView: 700px;
$deskTopView: 1000px;
// mixins
$browsers: 'moz',
'webkit',
'o';
@mixin border-radius($value) {
    border-radius: $value;
    @each $browser in $browsers {
        -#{$browser}-border-radius: $value;
    }
}

@mixin card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background: white;
    @include border-radius(0.4rem);
}