body {
    background: $backGroundColor;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.main {
    .main__title {
        margin: 1rem;
        padding: 0;
    }
}

.contents {
    .filters {
        @include card;
        .filters__title {
            margin: 0.2rem 1rem;
        }
        .filter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            .filter__lists {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
            }
            .filter__title {
                position: relative;
                width: 46vw;
                text-align: center;
                margin-bottom: 0.5rem;
                &::after {
                    display: block;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: $underLineColor;
                    position: absolute;
                    bottom: 0;
                    left: 0
                }
            }
        }
    }
    .developed_by {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            background: white;
            padding: 1rem;
        }
    }
}

@media screen and (min-width: $tabletView) {
    .contents {
        display: grid;
        grid-template-columns: 1fr 2fr;
        .filters {
            max-width: 22rem;
            justify-content: flex-start;
            .filter__title {
                width: 20vw !important;
            }
        }
        .cards__section {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: $deskTopView) {
    .contents {
        display: grid;
        grid-template-columns: 1fr 3fr;
        .filters {
            max-width: 22rem;
            justify-content: flex-start;
            .filter__title {
                width: 13vw !important;
            }
        }
        .cards__section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            .card {
                margin-left: 0;
            }
        }
    }
}

.no__result {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}